@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#tishi > p {
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 12px;
}

#tishi > p:hover {
  background-color: blue;
}

.topHead {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
}

.topHead .topHeadbox {
  margin: 0 auto;
  height: 100%;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9a9a9a;
  font-size: 14px;
}

.topHead .topHeadbox .topHeadboxR > span {
  cursor: pointer;
}

.navbox {
  width: 100%;
  height: 90px;
  border-bottom: 2px solid #f99135;
}

.navbox .navcenterbox {
  margin: 0 auto;
  height: 100%;
  width: 1200px;
  display: flex;
  align-items: center;
}

.navbox .navcenterbox .logobox {
  width: 169px;
  height: 50px;
}

.navbox .navcenterbox .arealist {
  width: 138px;
  height: 50px;
  display: flex;
  align-items: center;
}

.navbox .navcenterbox .arealist .onelist {
  width: 50px;
  margin-left: 20px;
  border: 0px;
  appearance: none;
  background-image: url(../image/倒三角.png);
  background-repeat: no-repeat;
  background-position: 35px 5px;
  background-size: 10px;
}

.navbox .navcenterbox .arealist .onelist:focus {
  outline: none;
}

.navbox .navcenterbox .naul {
  width: 472px;
  height: 90px;
}

.navbox .navcenterbox .naul > ul {
  width: 472px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbox .navcenterbox .naul > ul > li {
  box-sizing: border-box;
  width: 90px;
  height: 100%;
  line-height: 90px;
  font-size: 18px;
  color: #333333;
  text-align: center;
  cursor: pointer;
}

.navbox .navcenterbox .naul > ul > li:nth-child(5) {
  background-color: #f99135;
}

.navbox .navcenterbox .naul > ul > li:hover {
  background-color: #f99135;
  color: white;
}

.navbox .navcenterbox .searchbox {
  width: 422px;
  height: 44px;
  position: relative;
}

.navbox .navcenterbox .searchbox .searchTree {
  width: 340px;
  height: 44px;
  border-radius: 22px;
  border: solid 2px #f99135;
  padding-left: 20px;
  margin-left: 55px;
}

.navbox .navcenterbox .searchbox .searchTree:focus {
  outline: none;
}

.navbox .navcenterbox .searchbox .searchimg {
  position: absolute;
  top: 1px;
  right: 0px;
  height: 46px;
  cursor: pointer;
}

.tab {
  width: 1200px;
  height: 795px;
  border: solid 1px #e5e5e5;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

.tab .nav {
  width: 202px;
  height: 795px;
  background-color: #f4f3f4;
  border: solid 1px #e1e1e1;
  text-align: center;
}

.tab .nav h1 {
  font-size: 22px;
  font-weight: normal;
  line-height: 25px;
  color: #333333;
  margin-top: 45px;
  margin-bottom: 31px;
}

.tab .nav .tab-list ul li {
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 22px;
  list-style: none;
}

.tab .tab-content {
  width: 882px;
  height: 188px;
  margin-left: 40px;
}

.tab .tab-content .order h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 74px;
  color: #f99135;
  width: 925px;
  border-bottom: solid 1px #e1e1e1;
  margin-bottom: 30px;
}

.tab .tab-content .order .top {
  width: 882px;
  height: 188px;
  border: solid 1px #e5e5e5;
}

.tab .tab-content .order .top thead {
  width: 882px;
  height: 51px;
  background-color: #f7f7f7;
}

.tab .tab-content .order .top thead .t1 {
  font-size: 14px;
  line-height: 25px;
  color: #333333;
}

.tab .tab-content .order .top thead .t2 {
  font-size: 14px;
  line-height: 25px;
  color: #999999;
}

.tab .tab-content .order .top tbody {
  width: 882px;
  height: 137px;
}

.tab .tab-content .order .top tbody .t1 {
  width: 160px;
  height: 90px;
  margin-left: 15px;
}

.tab .tab-content .order .top tbody .t1 h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  color: #333333;
}

.tab .tab-content .order .top tbody .t1 p {
  font-size: 12px;
  line-height: 25px;
  color: #999999;
}

.tab .tab-content .order .top tbody .t1 span {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #f99135;
}

.tab .tab-content .order .top tbody :nth-child(3),
.tab .tab-content .order .top tbody :nth-child(4) {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #333333;
}

.tab .tab-content .order .top tbody .box {
  text-align: right;
}

.tab .tab-content .order .top tbody .box button {
  width: 80px;
  height: 30px;
  background-color: #f99135;
  box-shadow: 0px 2px 6px 0px rgba(255, 157, 71, 0.65);
  border-radius: 15px;
  border: none;
  color: white;
}

.tab .tab-content .order .top tbody .box p {
  font-size: 14px;
  line-height: 25px;
  color: #333333;
  margin-right: 13px;
}

.tab .tab-content .order .bottom {
  width: 882px;
  height: 188px;
  margin-top: 20px;
  border: solid 1px #e5e5e5;
}

.tab .tab-content .order .bottom thead {
  width: 882px;
  height: 51px;
  background-color: #f7f7f7;
}

.tab .tab-content .order .bottom thead .t1 {
  font-size: 14px;
  line-height: 25px;
  color: #333333;
}

.tab .tab-content .order .bottom thead .t2 {
  font-size: 14px;
  line-height: 25px;
  color: #999999;
}

.tab .tab-content .order .bottom tbody {
  width: 882px;
  height: 137px;
}

.tab .tab-content .order .bottom tbody .t1 {
  width: 160px;
  height: 90px;
  margin-left: 15px;
}

.tab .tab-content .order .bottom tbody .t1 h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  color: #333333;
}

.tab .tab-content .order .bottom tbody .t1 p {
  font-size: 12px;
  line-height: 25px;
  color: #999999;
}

.tab .tab-content .order .bottom tbody .t1 span {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #f99135;
}

.tab .tab-content .order .bottom tbody :nth-child(3),
.tab .tab-content .order .bottom tbody :nth-child(4) {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #333333;
}

.tab .tab-content .order .bottom tbody div {
  text-align: right;
}

.tab .tab-content .order .bottom tbody div button {
  width: 80px;
  height: 30px;
  background-color: #f99135;
  box-shadow: 0px 2px 6px 0px rgba(255, 157, 71, 0.65);
  border-radius: 15px;
  border: none;
  color: white;
}

.tab .tab-content .info h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 74px;
  color: #f99135;
  width: 925px;
  border-bottom: solid 1px #e1e1e1;
  margin-bottom: 30px;
}

.tab .tab-content .info .down {
  display: flex;
}

.tab .tab-content .info .down .left {
  width: 268px;
  height: 403px;
}

.tab .tab-content .info .down .left button {
  width: 182px;
  height: 56px;
  background-color: #e6e6e6;
  border-radius: 10px;
  font-size: 18px;
  line-height: 25px;
  color: #5b5b5b;
  border: none;
  margin-left: 35px;
  margin-top: 24px;
}

.tab .tab-content .info .down .left p {
  font-size: 18px;
  line-height: 30px;
  color: #999999;
  text-align: center;
}

.tab .tab-content .info .down .right {
  width: 360px;
  height: 360px;
  margin-left: 62px;
}

.tab .tab-content .info .down .right table .row1 input {
  width: 253px;
  height: 34px;
  border: solid 1px #7a7a7a;
}

.tab .tab-content .info .down .right table .row2 {
  width: 136px;
  height: 17px;
}

.tab .tab-content .info .down .right table .row2 .t2 {
  line-height: 30px;
  letter-spacing: 0px;
  color: #666666;
}

.tab .tab-content .info .down .right table .row3 .s1 {
  width: 72px;
  height: 32px;
  border: solid 1px #999999;
}

.tab .tab-content .info .down .right table .row3 .s2 {
  width: 56px;
  height: 32px;
  border: solid 1px #999999;
}

.tab .tab-content .info .down .right table .row4 {
  width: 360px;
  height: 17px;
}

.tab .tab-content .info .down .right table .row4 span {
  line-height: 30px;
  letter-spacing: 0px;
  color: #666666;
}

.tab .tab-content .info .down .right table .row5 .s1 {
  width: 96px;
  height: 32px;
  border: solid 1px #999999;
}

.tab .tab-content .info .down .right table .row5 .s2 {
  width: 52px;
  height: 32px;
  border: solid 1px #999999;
}

.tab .tab-content .info .down .right table .row6 input {
  width: 253px;
  height: 34px;
  border: solid 1px #7a7a7a;
}

.tab .tab-content .info .down .right table tr td {
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}

.tab .tab-content .info .down .right table tr button {
  width: 100px;
  height: 40px;
  background-color: #f99135;
  border-radius: 5px;
  font-size: 18px;
  color: #fefefe;
  border: none;
  margin-left: 92px;
  margin-top: 35px;
}

.tab .tab-content .paw h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 74px;
  color: #f99135;
  width: 925px;
  border-bottom: solid 1px #e1e1e1;
  margin-bottom: 30px;
}

.tab .tab-content .paw table {
  height: 232px;
  margin-left: 70px;
  margin-top: 30px;
}

.tab .tab-content .paw table tr td {
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}

.tab .tab-content .paw table tr td input {
  width: 253px;
  height: 34px;
  border: solid 1px #7a7a7a;
}

.tab .tab-content .paw table tr button {
  width: 100px;
  height: 40px;
  background-color: #f99135;
  border-radius: 5px;
  font-size: 18px;
  line-height: 30px;
  color: #fefefe;
  border: none;
  margin-top: 24px;
}

.tab-content > div {
  display: none;
}

.active {
  width: 200px;
  height: 40px;
  background-color: #f99135;
  color: #ffffff;
}

footer {
  width: 100%;
  height: 330px;
}

footer .explain {
  width: 100%;
  height: 253px;
  background-color: #262426;
  border-bottom: 1px solid #545454;
  overflow: hidden;
}

footer .explain table {
  margin: 0 auto;
  margin-top: 34px;
  width: 972px;
  height: 200px;
}

footer .explain table thead {
  width: 100%;
}

footer .explain table thead tr {
  width: 100%;
  height: 34px;
}

footer .explain table thead tr th {
  width: 25%;
  text-align: left;
}

footer .explain table thead tr th span {
  font-size: 18px;
  color: #ffffff;
}

footer .explain table thead tr th .fill {
  margin-top: 11px;
  width: 50px;
  height: 3px;
  background-color: #f99135;
}

footer .explain table tbody {
  width: 100%;
}

footer .explain table tbody tr {
  width: 100%;
  height: 26px;
}

footer .explain table tbody tr td {
  width: 25%;
  text-align: left;
}

footer .explain table tbody tr td a {
  font-size: 12px;
  color: #e2e2e2;
}

footer .introduce {
  width: 100%;
  height: 76px;
  background-color: #262426;
  overflow: hidden;
}

footer .introduce .text {
  margin: 0 auto;
  margin-top: 17px;
  width: 385px;
  height: 36px;
}

footer .introduce .text p:nth-child(1) {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

footer .introduce .text p:nth-child(2) {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

.modal {
  width: 444px;
  height: 532px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto auto;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal .modalMainbox {
  width: 424px;
  height: 512px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
}

.modal .modalMainbox .guan {
  width: 44px;
  height: 44px;
  border-radius: 0px 0px 0px 44px;
  background-color: #b2b2b2;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.modal .modalMainbox .bigbox {
  width: 343px;
  height: 410px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal .modalMainbox .bigbox .title {
  width: 343px;
  height: 34px;
  display: flex;
  box-sizing: border-box;
  border-bottom: solid 1px #e5e5e5;
  margin-bottom: 20px;
}

.modal .modalMainbox .bigbox .title .titleRegister {
  width: 40px;
  height: 34px;
  box-sizing: border-box;
  margin-right: 18px;
  text-align: center;
  cursor: pointer;
}

.modal .modalMainbox .bigbox .title .titleLogin {
  width: 40px;
  height: 34px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.modal .modalMainbox .bigbox .formdivDl {
  width: 343px;
  height: 376px;
  display: none;
}

.modal .modalMainbox .bigbox .formdivDl form .tel {
  width: 330px;
  height: 36px;
  background-color: #f4f4f4;
  border-radius: 6px;
  border: solid 1px #d8d8d8;
  padding-left: 10px;
  margin-bottom: 30px;
}

.modal .modalMainbox .bigbox .formdivDl form .psw {
  width: 330px;
  height: 36px;
  background-color: #f4f4f4;
  border-radius: 6px;
  border: solid 1px #d8d8d8;
  padding-left: 10px;
  margin-bottom: 30px;
}

.modal .modalMainbox .bigbox .formdivDl form .yanzhenma {
  width: 340px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.modal .modalMainbox .bigbox .formdivDl form .yanzhenma .yanzhen {
  height: 36px;
  width: 80px;
  box-sizing: border-box;
  border: solid 1px #000000;
  margin-right: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modalMainbox .bigbox .formdivDl form .yanzhenma .yz {
  width: 150px;
  height: 36px;
  background-color: #f4f4f4;
  border-radius: 6px;
  border: solid 1px #d8d8d8;
  padding-left: 10px;
}

.modal .modalMainbox .bigbox .formdivDl form .dlbtn {
  width: 340px;
  height: 46px;
  background-color: #f99135;
  border-radius: 6px;
  border: 0px;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 30px;
}

.modal .modalMainbox .bigbox .formdivDl form .zidongBox {
  width: 340px;
  height: 18px;
  font-size: 14px;
  color: #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.modal .modalMainbox .bigbox .formdivDl form .zidongBox .zidong {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.modal .modalMainbox .bigbox .formdivDl form .zidongBox .spanA > a {
  color: #f99135;
  font-size: 14px;
}

.modal .modalMainbox .bigbox .formdivDl form hr {
  margin-bottom: 30px;
}

.modal .modalMainbox .bigbox .formdivDl form .xieyiBox {
  width: 340px;
  height: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal .modalMainbox .bigbox .formdivDl form .xieyiBox .xieyi {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.modal .modalMainbox .bigbox .formdivDl form .xieyiBox > a {
  color: #999999;
  font-size: 12px;
}

.modal .modalMainbox .bigbox .formdivZc {
  width: 343px;
  height: 376px;
  display: none;
}

.modal .modalMainbox .bigbox .formdivZc .zcform {
  width: 343px;
  height: 317px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 23px;
}

.modal .modalMainbox .bigbox .formdivZc .zcform .zuTel,
.modal .modalMainbox .bigbox .formdivZc .zcform .psw,
.modal .modalMainbox .bigbox .formdivZc .zcform .againPsw {
  width: 330px;
  height: 46px;
  background-color: #f4f4f4;
  border-radius: 6px;
  border: solid 1px #d8d8d8;
  padding-left: 10px;
}

.modal .modalMainbox .bigbox .formdivZc .zcform .zcbtn {
  width: 340px;
  height: 46px;
  background-color: #f99135;
  border-radius: 6px;
  border: 0px;
  font-size: 20px;
  color: white;
  letter-spacing: 5px;
  cursor: pointer;
}

.modal .modalMainbox .bigbox .formdivZc .dlNow {
  width: 340px;
  height: 13px;
  font-size: 14px;
  color: #f99135;
  display: flex;
  justify-content: flex-end;
  letter-spacing: 3px;
  cursor: pointer;
}

#tp {
  position: absolute;
  width: 100%px;
  height: 66%;
  opacity: 0;
}
