* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
#tishi > p {
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 12px;
    &:hover{
        background-color: blue;
    }
}
.topHead {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #f0f0f0;
 
    .topHeadbox {
        margin: 0 auto;
        height: 100%;
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #9a9a9a;
        font-size: 14px;
        .topHeadboxR {
            > span {
                cursor: pointer;
            }
        }
        // a {
        //     text-decoration: none;
        //     color: #9a9a9a;
        // }
    }
}
.navbox {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 2;
    top: 40px;
    border-bottom: 2px solid #f99135;
    background-color: #fff;
    .navcenterbox {
        margin: 0 auto;
        height: 100%;
        width: 1200px;
        display: flex;
        align-items: center;
        .logobox {
            width: 169px;
            height: 50px;
        }
        .arealist {
            width: 138px;
            height: 50px;
            display: flex;
            align-items: center;
            .onelist {
                width: 50px;
                margin-left: 20px;
                border: 0px;
                appearance: none;
                background-image: url(../image/倒三角.png);
                background-repeat: no-repeat;
                background-position: 35px 5px;
                background-size: 10px;
            }
            .onelist:focus {
                outline: none;
            }
        }
        .naul {
            width: 472px;
            height: 90px;
            > ul {
                width: 472px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                > li {
                    box-sizing: border-box;
                    width: 90px;
                    height: 100%;
                    line-height: 90px;
                    font-size: 18px;
                    color: #333333;
                    text-align: center;
                    cursor: pointer;
                   &:hover{
                    background-color: #f99135;
                    color: white;
                   }
                }
            }
        }
        .searchbox {
            width: 422px;
            height: 44px;
            position: relative;
            .searchTree {
                width: 340px;
                height: 44px;
                border-radius: 22px;
                border: solid 2px #f99135;
                padding-left: 20px;
                margin-left: 55px;
            }
            .searchTree:focus {
                outline: none;
            }
            .searchimg {
                position: absolute;
                top: -1px;
                right: 0px;
                height: 46px;
                cursor: pointer;
            }
        }
    }
}
//
// 中间内容区域
// 轮播
.slideshow {
    margin-top: 110px;
    width: 100%;
    height: 360px;
    margin-bottom: 41px;
    // background-color: #9a9a9a;
    > img {
        width: 100%;
        height: 100%;
    }
}
// 轮播
// 二级列表
.listbox {
    width: 1200px;
    height: 45px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: #9a9a9a;
    margin-bottom: 58px;
    .listboxTitle {
        height: 44px;
        width: 150px;
        background-color: #f99135;
        border-radius: 0px 22px 22px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: white;
    }
    select {
        width: 206px;
        height: 44px;
        border-radius: 22px;
        border: solid 2px #cccccc;
        padding-left: 18px;
        color: #8c8c8c;
        appearance: none;
        background-image: url(../image/倒三角.png);
        background-repeat: no-repeat;
        background-position: 170px 18px;
        background-size: 10px;
    }
    select:focus {
        outline: none;
    }
    .buytickets {
        width: 120px;
        height: 44px;
        background-color: #f99135;
        border-radius: 22px;
        border: 0px;
        font-size: 18px;
        color: white;
    }
}
// 二级列表
// 主体内容
.main {
    width: 1200px;
    height: 1308px;
    // border: 1px solid black;
    margin: 0 auto;
    display: flex;
    margin-bottom: 86px;
    .leftMain {
        width: 732px;
        height: 100%;
        // background-color: burlywood;
        margin-right: 106px;
        .mainleftTop {
            height: 596px;
            width: 732px;
            // background-color: lightblue;
            margin-bottom: 33px;
            .mainleftTopTitle {
                width: 732px;
                height: 26px;
                // background-color: lightgreen;
                display: flex;
                align-items: center;
                color: #f99135;
                justify-content: space-between;
                .nowHotleftTop {
                    font-size: 26px;
                }
                .seeMoreAleftTop {
                    color: #f99135;
                }
            }
            .mainleftTopMovies {
                width: 732px;
                // height: 548px;
                height: 570px;
                // background-color: lightsalmon;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-end;
                .leftmovies {
                    width: 160px;
                    height: 259px;
                    // background-color: orangered;
                    // border: 1px solid;
                    .leftmoviesImg {
                        width: 160px;
                        height: 220px;
                        > img {
                            width: 160px;
                            height: 220px;
                            transition: 0.5s;
                            &:hover{
                                box-shadow: 0 0 2px 4px #008c8c;
                                transform:scale(1.1)
                            }
                        }
                    }
                    .leftmoviesNameORstore {
                        width: 158px;
                        height: 38px;
                        display: flex;
                        justify-content: space-evenly;
                        border: solid 1px #e8e8e8;
                        .leftmoviesName {
                            width: 108px;
                            height: 38px;
                            line-height: 38px;
                            // background-color: powderblue;
                            display: flex;
                            // justify-content: center;
                            align-items: center;
                            color: #003333;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box; /*将对象作为弹性伸缩盒子模型显示*/
                            -webkit-line-clamp: 1; /*限制文本的行数，只显示3行*/
                            -webkit-box-orient: vertical; /*设置或检索伸缩盒对象的子元素的排列方式 */
                        }
                        .leftmoviesStore {
                            width: 21px;
                            height: 38px;
                            // background-color: paleturquoise;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #f99135;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .mainleftDown {
            width: 732px;
            height: 653px;
            // background-color: lightcyan;
            .mainleftDownTitle {
                width: 732px;
                height: 26px;
                // background-color: lightgreen;
                display: flex;
                align-items: center;
                color: #f99135;
                justify-content: space-between;
                .nowHotleftDown {
                    font-size: 26px;
                }
                .seeMoreAleftDown {
                    color: #f99135;
                }
            }
            .mainleftDownMovies {
                width: 732px;
                height: 653px;
                // background-color: lightsalmon;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-end;
                .leftmoviesDown {
                    width: 160px;
                    height: 288px;
                    // background-color: orangered;
                    // border: 1px solid;
                    .leftmoviesImgDown {
                        width: 160px;
                        height: 220px;
                        > img {
                            width: 160px;
                            height: 220px;
                            transition: 0.5s;
                            &:hover{
                                box-shadow: 0 0 2px 4px #008c8c;
                                transform:scale(1.1)
                            }
                        }
                    }
                    .leftmoviesNameORstoreDown {
                        width: 158px;
                        height: 38px;
                        display: flex;
                        justify-content: space-evenly;
                        border: solid 1px #e8e8e8;
                        .leftmoviesNameDown {
                            width: 108px;
                            height: 38px;
                            // background-color: powderblue;
                            display: flex;
                            line-height: 38px;
                            justify-content: center;
                            // align-items: center;
                            color: #003333;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box; /*将对象作为弹性伸缩盒子模型显示*/
                            -webkit-line-clamp: 1; /*限制文本的行数，只显示3行*/
                            -webkit-box-orient: vertical; /*设置或检索伸缩盒对象的子元素的排列方式 */
                        }
                        .leftmoviesStoreDown {
                            width: 21px;
                            height: 38px;
                            // background-color: paleturquoise;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #f99135;
                            font-size: 14px;
                        }
                    }
                    .releaseDate {
                        width: 160px;
                        height: 29px;
                        // background-color: skyblue;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        font-size: 14px;
                        color: #999999;
                    }
                }
            }
        }
    }
    .rightMain {
        width: 363px;
        height: 100%;
        // background-color: blanchedalmond;
        .mainrightTop {
            height: 450px;
            width: 363px;
            // background-color: lightblue;
            margin-bottom: 56px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .mainrightTopTiele {
                height: 26px;
                width: 363px;
                // background-color: yellowgreen;
                color: #f99135;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .moviesactivity {
                    font-size: 26px;
                }
                .moviesMore {
                    font-size: 14px;
                }
            }
            .mainrightTopCenter {
                width: 360px;
                height: 194px;
                border: solid 1px #e8e8e8;
                // background-color: yellowgreen;
                display: flex;
                .mainrightTopimage {
                    width: 140px;
                    height: 194px;
                    > img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .moviesMessage {
                    width: 220px;
                    height: 194px;
                    display: flex;
                    /* flex-wrap: wrap; */
                    flex-direction: column;
                    justify-content: center;
                    .reightTopmoviesname {
                        font-size: 18px;
                        margin-bottom: 16px;
                        margin-left: 10px;
                    }
                    .reightTopmoviestime {
                        font-size: 16px;
                        color: #999999;
                        margin-bottom: 11px;
                        margin-left: 10px;
                    }
                    .wantsee {
                        color: #f99135;
                        font-size: 14px;
                        margin-left: 10px;
                    }
                }
            }
            .mainrightTopDown {
                width: 363px;
                height: 185px;
                // border: solid 1px #e8e8e8;
                // background-color: yellowgreen;
                display: flex;
                justify-content: space-between;
                .movies1or2 {
                    width: 170px;
                    height: 185px;
                    // background-color: #f6f6f6;
                    border: solid 1px #e8e8e8;
                    .moviesImage {
                        width: 170px;
                        height: 118px;
                        > img {
                            width: 170px;
                            height: 118px;
                        }
                    }
                    .moviesnametime {
                        background-color: #f6f6f6;
                        height: 66px;
                        width: 170px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        .mainrightTopDownName {
                            font-size: 17px;
                            width: 149px;
                            height: 19px;
                            margin-left: 10px;
                        }
                        .mainrightTopDownTime {
                            width: 128px;
                            height: 14px;
                            color: #999999;
                            font-size: 14px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        .mainrightDown {
            height: 486px;
            width: 363px;
            // background-color: lightcyan;
            .mainrightDownTiele {
                height: 26px;
                width: 363px;
                // background-color: yellowgreen;
                color: #f99135;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 21px;
                .Downmoviesactivity {
                    font-size: 26px;
                }
                .DownmoviesMore {
                    font-size: 14px;
                }
            }
            .NO1 {
                width: 358px;
                height: 74px;
                display: flex;
                margin-bottom: 28px;
                .No1img {
                    width: 120px;
                    height: 68px;
                    background-color: #eeeeee;
                }
                .No1message {
                    width: 290px;
                    height: 68px;
                    display: flex;
                    align-items: center;
                    .No1messageSpan {
                        font-size: 14px;
                        padding-left: 13px;
                    }
                }
            }
            .two-ten {
                width: 363px;
                height: 341px;
                font-size: 14px;
                color: #333333;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                .no2 {
                    width: 347px;
                    height: 15px;
                    display: flex;
                    justify-content: space-between;
                    .no2span {
                        color: #f99135;
                        font-size: 16px;
                    }
                }
                .no3 {
                    width: 347px;
                    height: 15px;
                    display: flex;
                    justify-content: space-between;
                    color: #f99135;
                    .no3span {
                        font-size: 16px;
                        color: #f99135;
                    }
                }
                .no4-10 {
                    width: 347px;
                    height: 15px;
                    display: flex;
                    justify-content: space-between;
                    .no4-10span {
                        color: #acacac;
                        font-size: 16;
                    }
                }
            }
        }
    }
}
// 主体内容
//
// 中间内容区域
//
// 以下是尾部区域
footer {
    width: 100%;
    height: 330px;
    // position: fixed;
    // bottom: 0px;
    // left: 0px;
    .explain {
        width: 100%;
        height: 253px;
        background-color: #262426;
        border-bottom: 1px solid #545454;
        overflow: hidden;
    }

    .explain table {
        margin: 0 auto;
        margin-top: 34px;
        width: 972px;
        height: 200px;
    }

    .explain table thead {
        width: 100%;
    }

    .explain table thead tr {
        width: 100%;
        height: 34px;
    }

    .explain table thead tr th {
        width: 25%;
        text-align: left;
    }

    .explain table thead tr th span {
        font-size: 18px;
        color: #ffffff;
    }

    .explain table thead tr th .fill {
        margin-top: 11px;
        width: 50px;
        height: 3px;
        background-color: #f99135;
    }

    .explain table tbody {
        width: 100%;
    }
    .explain table tbody tr {
        width: 100%;
        height: 26px;
    }

    .explain table tbody tr td {
        width: 25%;
        text-align: left;
    }

    .explain table tbody tr td a {
        font-size: 12px;
        color: #e2e2e2;
    }

    .introduce {
        width: 100%;
        height: 76px;
        background-color: #262426;
        overflow: hidden;
    }

    .introduce .text {
        margin: 0 auto;
        margin-top: 17px;
        width: 385px;
        height: 36px;
    }

    .introduce .text p:nth-child(1) {
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 10px;
    }

    .introduce .text p:nth-child(2) {
        font-size: 12px;
        color: #ffffff;
        text-align: center;
    }
}
// 以下是登录注册框
.modal {
    width: 444px;
    height: 532px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto auto;
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    .modalMainbox {
        width: 424px;
        height: 512px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 10px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto auto;
        .guan {
            width: 44px;
            height: 44px;
            border-radius: 0px 0px 0px 44px;
            background-color: #b2b2b2;
            position: absolute;
            right: 0;
            top: 0;
            color: white;
            font-size: 25px;
            display: flex;
            justify-content: center;
            cursor: pointer;
        }
        .bigbox {
            width: 343px;
            height: 410px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .title {
                width: 343px;
                height: 34px;
                display: flex;
                box-sizing: border-box;
                border-bottom: solid 1px #e5e5e5;
                margin-bottom: 20px;
                .titleRegister {
                    width: 40px;
                    height: 34px;
                    // background-color: skyblue;
                    box-sizing: border-box;
                    // border-bottom: #f99135 4px solid;
                    margin-right: 18px;
                    text-align: center;
                    cursor: pointer;
                }
                .titleLogin {
                    width: 40px;
                    height: 34px;
                    // background-color: skyblue;
                    box-sizing: border-box;
                    // border-bottom: #f99135 4px solid;
                    // color: #999999;
                    text-align: center;
                    cursor: pointer;
                }
            }
            .formdivDl {
                width: 343px;
                height: 376px;
                // background-color: #d8d8d8;
                display: none;
                form {
                    .tel {
                        width: 330px;
                        height: 36px;
                        background-color: #f4f4f4;
                        border-radius: 6px;
                        border: solid 1px #d8d8d8;
                        padding-left: 10px;
                        margin-bottom: 30px;
                    }
                    .psw {
                        width: 330px;
                        height: 36px;
                        background-color: #f4f4f4;
                        border-radius: 6px;
                        border: solid 1px #d8d8d8;
                        padding-left: 10px;
                        margin-bottom: 30px;
                    }
                    .yanzhenma {
                        width: 340px;
                        height: 36px;
                        // background-color: #f4f4f4;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 30px;
                        .yanzhen {
                            height: 36px;
                            width: 80px;
                            box-sizing: border-box;
                            border: solid 1px #000000;
                            margin-right: 33px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .yz {
                            width: 150px;
                            height: 36px;
                            background-color: #f4f4f4;
                            border-radius: 6px;
                            border: solid 1px #d8d8d8;
                            padding-left: 10px;
                        }
                    }
                    .dlbtn {
                        width: 340px;
                        height: 46px;
                        background-color: #f99135;
                        border-radius: 6px;
                        border: 0px;
                        font-size: 20px;
                        color: #ffffff;
                        margin-bottom: 30px;
                    }
                    .zidongBox {
                        width: 340px;
                        height: 18px;
                        font-size: 14px;
                        color: #999999;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 30px;
                        .zidong {
                            width: 14px;
                            height: 14px;
                            margin-right: 10px;
                        }
                        .spanA {
                            > a {
                                color: #f99135;
                                font-size: 14px;
                            }
                        }
                    }
                    hr {
                        margin-bottom: 30px;
                    }
                    .xieyiBox {
                        width: 340px;
                        height: 12px;
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;
                        .xieyi {
                            width: 12px;
                            height: 12px;
                            margin-right: 10px;
                        }
                        > a {
                            color: #999999;
                            font-size: 12px;
                        }
                    }
                }
            }
            .formdivZc {
                width: 343px;
                height: 376px;
                // background-color: #d8d8d8;
                display: none;
                .zcform {
                    width: 343px;
                    height: 317px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-bottom: 23px;
                    .zuTel,
                    .psw,
                    .againPsw {
                        width: 330px;
                        height: 46px;
                        background-color: #f4f4f4;
                        border-radius: 6px;
                        border: solid 1px #d8d8d8;
                        padding-left: 10px;
                    }
                    .zcbtn {
                        width: 340px;
                        height: 46px;
                        background-color: #f99135;
                        border-radius: 6px;
                        border: 0px;
                        font-size: 20px;
                        color: white;
                        letter-spacing: 5px;
                        cursor: pointer;
                    }
                }
                .dlNow {
                    width: 340px;
                    height: 13px;
                    font-size: 14px;
                    color: #f99135;
                    display: flex;
                    justify-content: flex-end;
                    letter-spacing: 3px;
                    cursor: pointer;
                }
            }
        }
    }
}
